
.noidung-chinh{
    width: 950px;
    min-height: 650px;
    position: absolute;
    top:70%;
    left:60%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
.suavanban-tieude{
	display: flex;
	justify-content:space-evenly;
    background-color: aquamarine;
    padding: 5px;
}
.suavanban-tieude .butn{
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
}
#suavanban-noidung{
    height: 530px;
    border: 1px solid violet;
    border-top: 0px;
    padding: 20px;
     resize: inline;
  overflow: auto;
}
